* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-1 {
  width: 100%;
  height: 100vh;
  background-color: blue;
  display: flex;
  justify-content: space-between;
   align-items: center;
   padding: 0 30px;
}


.section-1 .box{
    width: 32%;
    height: 60%;
    background-color: brown;
}